	<!doctype html>
	<html>
	<head>
	    <title>Service Management</title>
	    <link rel="stylesheet" href="lib/uni.css">
	    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	    <!--<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>-->

      <!-- Include Required Prerequisites -->
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
      <!-- Include Date Range Picker -->
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"> 
      

    <script>
      function checkForm(form){

        mac = /^([0-9a-fA-F][0-9a-fA-F]:){5}([0-9a-fA-F][0-9a-fA-F])$/;  
        if(!mac.test(form.resourceString1.value)) {  
          //alert("Error: Source MAC Address Is Error!");
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Error: Source MAC Address Not Correct!</strong>";
          form.resourceString1.focus();
          return false;  
        }
        if(!mac.test(form.resourceString2.value)) {  
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Error: Destination MAC Address Not Correct!</strong>";
          form.resourceString2.focus();
          return false;  
        }

        ip = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
        if(!ip.test(form.IP1.value)) {  
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Error: Source IP Address Not Correct!</strong>";
          form.IP1.focus();
          return false;  
        }
        if(!ip.test(form.IP2.value)) {  
          document.getElementById("alert").className = "alert alert-danger";
          document.getElementById('alert').innerHTML = "<strong>Error: Destination IP Address Not Correct!</strong>";
          form.IP2.focus();
          return false;
        }
		
      }
  </script>

  <style>
  .datepicker{z-index:1151 !important;}
  </style>


</head>


<body style="background-color: #006DA6; ">

	<div class="container-fluid">
	  <div class="row">
	    <div class="col-xs-12 nopadding">
	      <% include ./base %>
	    </div>
	    <div class="col-xs-12 nopadding">
	      <% include ./menuadmin %>
	    </div>
	    <div class="col-xs-2 nopadding"  style="min-width:250px;">
	      <%include ./admin %>
	    </div>
      <div class="col-xs-10 nopadding">
	      <div id="contenttext">
	        <div style="margin : 30px;">
          	<ul class="nav nav-tabs">
          	  <li class="active"><a data-toggle="tab" href="#home">All Services</a></li>
          	    <li><a data-toggle="tab" href="#state">Services State</a></li>
                <li><a data-toggle="tab" href="#history">History Logs</a></li>

          	</ul>

          	<div class="tab-content">
          	  <div id="home" class="tab-pane fade in active">
            		<p>
            		<br>
            	  <table id="servicesrequest" class="table table-striped">
                  <thead>
                    <tr bgcolor="#1E90FF">
                    <td colspan="8"><center><label><font color="white"><h5>Services Requested</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Source MAC</th>
                      <th>Destination MAC</th>
                      <th>Source IP</th>
                      <th>Destination IP</th>
              		    <th>Start Time</th>
                      <th>End Time</th>
              		    <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(request.length){               
                      for(var i = 0;i < request.length;i++) { %>
                      <tr>
                        <td><%=request[i].username%></td>
                        <td><%=request[i].resourceString1%></td>
                        <td><%=request[i].resourceString2%></td>
                        <td><%=request[i].IP1%></td>
                        <td><%=request[i].IP2%></td>
                	    <td><%=request[i].startTime%></td>
                        <td><%=request[i].endTime%></td>
                		    <td><div class="dropdown"><button class="btn btn-default btn-md dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Action</button>
                          <ul class="dropdown-menu">
                            <li><a href="/servicemanage/accept/<%=request[i].said%>"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept</a></li>
                            <li><a data-toggle="modal" href="#myModal<%=request[i].said%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Decline</a></li>
                          </ul>
                        </div></td>
                      </tr>
                      <% } 
                    } %>
        	        </tbody>
        	      </table>
  				      <% if(request.length){           
                  for(var i = 0;i < request.length;i++) { %>
                  <div id="myModal<%=request[i].said%>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><center> Are You Sure? </center></h4>
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-success" href="/servicemanage/delete/<%=request[i].said%>">Delete</a>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% }
                }%>
            		<p>
            		<br>
          	    <table id="servicesapprove" class="table table-striped">
                  <thead>
                    <tr bgcolor="#2979FF">
                      <td colspan="8"><center><label><font color="white"><h5>Services Approved</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Source MAC</th>
                      <th>Destination MAC</th>
                      <th>Source IP</th>
                      <th>Destination IP</th>
              		    <th>Start Time</th>
                      <th>End Time</th>
              		    <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>  
                    <% if(approve.length){ 
                      for(var i = 0;i < approve.length;i++) { %>
                      <tr>
                        <td><%=approve[i].username%></td>
                        <td><%=approve[i].resourceString1%></td>
                        <td><%=approve[i].resourceString2%></td>
                        <td><%=approve[i].IP1%></td>
                        <td><%=approve[i].IP2%></td>
                	      <td><%=approve[i].startTime%></td>
                        <td><%=approve[i].endTime%></td>
                		    <td><div class="dropdown"><button class="btn btn-default btn-md dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Action</button>
                          <ul class="dropdown-menu">
                            <li><a data-toggle="modal" href="#myModalcc<%=approve[i].said%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
                          </ul>
                        </div></td>
                      </tr>
                      <% }
                    } %>
              	  </tbody>
              	</table>

  			        <% if(approve.length){ 
                  for(var i = 0;i < approve.length;i++) { %>
                  <div id="myModalcc<%=approve[i].said%>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><center> Are You Sure? </center></h4>
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-success" href="/servicemanage/deleteapprove/<%=approve[i].said%>">Delete</a>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% }
                }%>
            		<br>
            		<p>
                <table id="activeservices" class="table table-striped">
            	    <thead>
                    <tr bgcolor="#2962FF">
                      <td colspan="8"><center><label><font color="white"><h5>Active Services</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Source MAC</th>
                      <th>Destination MAC</th>
                      <th>Source IP</th>
                      <th>Destination IP</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(active.length){              
                      for(var i = 0;i < active.length;i++) { %>
                      <tr>
                        <td><%=active[i].username%></td>
                        <td><%=active[i].resourceString1%></td>
                        <td><%=active[i].resourceString2%></td>
                        <td><%=active[i].IP1%></td>
                        <td><%=active[i].IP2%></td>
                		    <td><%=active[i].startTime%></td>
                        <td><%=active[i].endTime%></td>
                        <td><div class="dropdown"><button class="btn btn-default btn-md dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Action</button>
                          <ul class="dropdown-menu">
                            <li><a data-toggle="modal" href="#edit<%=active[i].apid%>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> edit</a></li>
                            <li><a data-toggle="modal" href="#myModalcancel<%=active[i].apid%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
                          </ul>
                        </div></td>
                      </tr>
                      <% }
                    } %>
  	              </tbody>
  	            </table>

                <br/> <br/> <p align="center"><button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModaladd "><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Express</button> <br /> <br /> <br />
                <% if(request.length){                
                  for(var i = 0;i < request.length;i++) { %>
                  <div id="myModal<%=request[i].said%>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><center> Are You Sure? </center></h4>
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-success" href="/servicemanage/delete/<%=request[i].said%>">Delete</a>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% }
                }%>
                    
                <% if(active.length){
                  for(var i = 0;i < active.length;i++) { %>
                  <div id="myModalcancel<%=active[i].apid%>" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          <h4><center> Are You Sure? </center></h4>
                        </div>
                        <div class="modal-footer">
                          <a class="btn btn-success" href="/servicemanage/deleteactive/<%=active[i].apid%>">Delete</a>
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <% }
                }%>
              
                <div class="modal fade" id="myModaladd" role="dialog">
                  <div class="modal-dialog">
                  <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-body">  
                        <button type="button" class="close" data-dismiss="modal">&times;</button><br>
                        <div id="alert" class="hide" role="alert"></div>
                        <form action="/servicemanage" method="post" onsubmit="return checkForm(this);">
                          <div class="form-group">
                            <label>Source MAC Address</label>
                            <input type="text" class="form-control" name="resourceString1"  id="resourceString1" placeholder="xx:xx:xx:xx:xx:xx" required="true">
                          </div>

                          <div class="form-group">
                            <label>Destination MAC Address</label>
                            <input type="text" class="form-control" name="resourceString2" id="resourceString2" placeholder="xx:xx:xx:xx:xx:xx" required="true">
                          </div>

                          <div class="form-group">
                            <label>Source IP Address</label>
                            <input type="text" class="form-control" name="IP1"  id="IP1" placeholder="1.1.1.1" required="true">
                          </div>

                          <div class="form-group">
                            <label>Destination IP Address</label>
                            <input type="text" class="form-control" name="IP2" id="IP2" placeholder="1.1.1.1" required="true">
                          </div>

                          <div class="form-group">
                            <label>Duration of services</label>
                            <div class="input-daterange" id="datePicker">
                              <input type="text" style="text-align: center;" class="datePicker" name="startTime" id="startTime" placeholder="YYYY/MM/DD hh:mm" size="17" >
                              &nbsp;to&nbsp;
                              <input type="text" style="text-align: center;" class="datePicker" name="endTime" id="endTime" placeholder="YYYY/MM/DD hh:mm" size="17">
                              <span class="datePicker"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                          </div>

                          <div class="modal-footer">
                            <button type="submit" class="btn btn-success btn-md" value="addService" >Submit</button> <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button> 
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <% if(active.length){ 
                  for(var i = 0;i < active.length;i++) { %>
                  <div class="modal fade" id="edit<%=active[i].apid%>" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">  
                          <button type="button" class="close" data-dismiss="modal">&times;</button><br>
                          <div id="alert" class="hide" role="alert"></div>
                          <form action="/servicemanage/edit/<%=active[i].apid%>" method="post" onsubmit="return checkForm(this);">
                            <div class="form-group">
                              <label>Source MAC Address</label>
                              <input type="text" class="form-control" name="resourceString1"  id="resourceString1" placeholder="resourceString1" value="<%=active[i].resourceString1%>" required="true">
                            </div>

                            <div class="form-group">
                              <label>Destination MAC Address</label>
                              <input type="text" class="form-control" name="resourceString2" id="resourceString2" placeholder="resourceString2" value="<%=active[i].resourceString2%>" required="true">
                            </div>

                            <div class="form-group">
                              <label>Source IP Address</label>
                              <input type="text" class="form-control" name="IP1"  id="IP1" placeholder="IP1" value="<%=active[i].IP1%>" required="true">
                            </div>

                            <div class="form-group">
                              <label>Destination IP Address</label>
                              <input type="text" class="form-control" name="IP2" id="IP2" placeholder="IP2" value="<%=active[i].IP2%>" required="true">
                            </div>

                            <div class="form-group">
                              <label>Duration of services</label>
                              <div class="input-daterange" id="datePicker">
                                <input type="text" style="text-align: center;" class="datePicker" name="startTime" id="startTime" value="<%=active[i].endTime %>"placeholder="YYYY/MM/DD hh:mm" size="17" >
                                &nbsp;to&nbsp;
                                <input type="text" style="text-align: center;" class="datePicker" name="endTime" id="endTime" value="<%=active[i].endTime %>" placeholder="YYYY/MM/DD hh:mm" size="17">
                                <span class="datePicker"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                            </div>         

                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary btn-md" value="addService" >Submit</button> <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Cancel</button> 
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>  
                  <% }
                } %>
              </div>
               <div id="state" class="tab-pane fade">
            		<p>
            	  <table id="statetable" class="table table-striped">
                  <thead>
                    <tr bgcolor="#1E90FF">
                      <td colspan="8"><center><label><font color="white"><h5>Services State</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Source MAC</th>
                      <th>Destination MAC</th>
                      <th>Source IP</th>
                      <th>Destination IP</th>
              	      <th>Start Time</th>
                      <th>End Time</th>
            		      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(state.length){             
                      for(var i = 0;i < state.length;i++) { %>
                      <tr>
                        <td><%=state[i].username%></td>
                        <td><%=state[i].resourceString1%></td>
                        <td><%=state[i].resourceString2%></td>
                        <td><%=state[i].IP1%></td>
                        <td><%=state[i].IP2%></td>
                	    <td><%=state[i].startTime%></td>
                        <td><%=state[i].endTime%></td>
                        <td><%=state[i].nameE%></td>
                      </tr>                   
                      <%}
                    }%>
	                </tbody>
                </table>
              </div>
          	  <div id="history" class="tab-pane fade">
            		<p>
            	  <table id="historytable" class="table table-striped">
                  <thead>
                    <tr bgcolor="#1E90FF">
                      <td colspan="9"><center><label><font color="white"><h5>Services History Logs</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Source MAC</th>
                      <th>Destination MAC</th>
                      <th>Source IP</th>
                      <th>Destination IP</th>
              	      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Timestamp</th>
            		      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(history.length){             
                      for(var i = 0;i < history.length;i++) { %>
                      <tr>
                        <td><%=history[i].username%></td>
                        <td><%=history[i].resourceString1%></td>
                        <td><%=history[i].resourceString2%></td>
                        <td><%=history[i].IP1%></td>
                        <td><%=history[i].IP2%></td>
                	    <td><%=history[i].startTime%></td>
                        <td><%=history[i].endTime%></td>
                        <td><%=history[i].timestamp%></td>
                        <td><%=history[i].nameE%></td>
                      </tr>                   
                      <%}
                    }%>
	                </tbody>
                </table>
              </div>
            </div> 	 
          </div>
        </div>
      </div>
    </div>
  	<div class="col-xs-12 nopadding">
  	<%include ./footer %>
  	</div>
	</div>
</body>
</html>

