<!---------------------------------------------------User Management Page------------------------------------------------>
<!doctype html>
<html>
<head>
  <title>User Manage</title>
  <link rel="stylesheet" href="lib/uni.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"> 
  
  <script type="text/javascript">
    $(document).ready(function($) {
      console.log("111111");    
		  $('#allusers').DataTable( {
        "pagingType": "full_numbers"
      } );
      $('#usersrequest').DataTable( {
        "pagingType": "full_numbers"
      } );
      $('#userhistorytable').DataTable( {
        "pagingType": "full_numbers"
      } );
    } );
  </script>

</head>

<body style="background-color: #006DA6;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 nopadding">
        <% include ./base %>
      </div>
      <div class="col-md-12 nopadding">
        <% include ./menuadmin %>
      </div>
      <div class="col-xs-2 nopadding"  style="min-width:250px;">
        <%include ./admin %>
      </div>   
      <div class="col-xs-10 nopadding">
        <div id="contenttext"> 
          <div style="margin:30px">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#user">Users Manage</a></li>
              <li><a data-toggle="tab" href="#history">Users Access Logs</a></li>
            </ul>
            <div class="tab-content">
              <div id="user" class="tab-pane fade in active">
                <br>
                <table id="usersrequest" class="table table-striped">
                  <thead>
                    <tr bgcolor="#1E90FF">
                      <td colspan="6"><center><label><font color="white"><h5>Users Requested</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody> 
                    <% if(data1.length){            
                      for(var i = 0;i < data1.length;i++) { %>
                        <tr>
                          <td><%=data1[i].username%></td>
                          <td><%=data1[i].NameE%></td>
                          <td><%=data1[i].LastNameE%></td>
                          <td><%=data1[i].email%></td>
                          <td><%=data1[i].phone%></td>
                          <td>
                            <div class="dropdown"><button class="btn btn-default btn-md dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Action</button>
                              <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#detail<%=data1[i].id%>"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Detail</a></li>
                                <li><a href="/user/accept/<%=data1[i].id%>"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept</a></li>
                                <li><a data-toggle="modal" href="#myModal<%=data1[i].id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Decline</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      <% }
                    } %>
                    <% if(data1.length){                    
                      for(var i = 0;i < data1.length;i++) { %>
                        <div id="detail<%=data1[i].id%>" class="modal fade" role="dialog">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <br>
                                <div class="form-group">
                                  <label class="col-xs-4 control-label"> Username</label><label class="col-xs-1 control-label"> : </label>        
                              		<div class="col-xs-7">
                                    <%=data1[i].username%>
                              		</div>
                                </div>
                                <br>
                                <div class="form-group">
                                  <label class="col-xs-4 control-label"> First Name</label><label class="col-xs-1 control-label"> : </label>     
                              		<div class="col-xs-7">
                                    <%=data1[i].NameE%>
                              		</div>
                                </div>
                                <br>
                                <div class="form-group">
                                  <label class="col-xs-4 control-label"> Last Name</label><label class="col-xs-1 control-label"> : </label>
                      		        <div class="col-xs-7">
                                  	<%=data1[i].LastNameE%>
                      		        </div>
                                </div>
                      	        <br>
                                <div class="form-group">
                                  <label class="col-xs-4 control-label"> Organization</label><label class="col-xs-1 control-label"> : </label>
                                  <div class="col-xs-7">
                                    <% if(data1[i].org === 1) { %>
                            			    Chulalongkorn University
                                    <% } %>
                            	      <% if(data1[i].org === 2) { %>
                            			    Kasetsart University
                                    <% } %>
                            	      <% if(data1[i].org === 3) { %>
                            			    Khon Kean University
                                    <% } %>
                            	      <% if(data1[i].org === 4) { %>
                            			    Chiang Mai University
                                    <% } %>
                                    <% if(data1[i].org === 5) { %>
                            			    Thaksin University
                                    <% } %>
                            	      <% if(data1[i].org === 6) { %>
                            			    King Mongkut's University of Technology Thonburi
                                    <% } %>
                            	      <% if(data1[i].org === 7) { %>
                            			    King Mongkut's University of Technology North Bangkok
                                    <% } %>
                            	      <% if(data1[i].org === 8) { %>
                            			    Suranaree University of Technology
                                    <% } %>
                                    <% if(data1[i].org === 9) { %>
                            			    Thammasat University
                                    <% } %>
                            	      <% if(data1[i].org === 10) { %>
                            			    Nakhon Phanom University
                                    <% } %>
                            	      <% if(data1[i].org === 11) { %>
                            			    Princess of Naradhiwas University
                                    <% } %>
                            	      <% if(data1[i].org === 12) { %>
                            			    Naresuan University
                                    <% } %>
                                    <% if(data1[i].org === 13) { %>
                            			    Burapha University
                                    <% } %>
                            	      <% if(data1[i].org === 14) { %>
                            			    University of Phayao
                                    <% } %>
                            	      <% if(data1[i].org === 15) { %>
                            			    Mahasarakham University
                                    <% } %>
                            	      <% if(data1[i].org === 16) { %>
                            			    Mahidol University
                                    <% } %>
                                    <% if(data1[i].org === 17) { %>
                            			    Maejo University
                                    <% } %>
                            	      <% if(data1[i].org === 18) { %>
                            			    Mae Fah Luang University
                                    <% } %>
                            	      <% if(data1[i].org === 19) { %>
                            			    Walailak University
                                    <% } %>
                            	      <% if(data1[i].org === 20) { %>
                            			    Srinakharinwirot University
                                    <% } %>
                                    <% if(data1[i].org === 21) { %>
                            			    Silpakorn University
                                    <% } %>
                            	      <% if(data1[i].org === 22) { %>
                            			    Prince of Songkla University
                                    <% } %>
                            	      <% if(data1[i].org === 23) { %>
                            			    Ubon Ratchathani University
                                    <% } %>
                            	      <% if(data1[i].org === 24) { %>
                            			    King Mongkut's Institute of Technology Ladkrabang
                                    <% } %> 
                                  </div>
                                </div>
                                <br>
                                <div class="form-group">
                        	        <label class="col-xs-4 control-label"> Phone number</label><label class="col-xs-1 control-label"> : </label>
                        		      <div class="col-xs-7">
                                    <%=data1[i].phone%>
                        		      </div>
                                </div>
                                <br>
                                <div class="form-group">
                            	    <label class="col-xs-4 control-label"> Email</label><label class="col-xs-1 control-label"> : </label>
                            		  <div class="col-xs-7">
                                    <%=data1[i].email%>
                            		  </div>
                                </div>
                                <br>
                                <div class="form-group">
                            	    <label class="col-xs-4 control-label"> Note</label> <label class="col-xs-8 control-label"> </label> 
                                </div>
                                <br>
                                <div class="form-group">
                            	    <div class="col-xs-12"> <%=data1[i].message%></div>
                                </div>
                                <br><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                              </div>
                            </div>
                          </div>
                        </div> 
                      <% }     
                    } %>
                  </tbody>
                </table>
                <br>
                <table id="allusers" class="table table-striped">  
                  <thead>
                    <tr bgcolor="#006DA6">
                      <td colspan="6"><center><label><font color="white"><h5>All Users</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Active</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(data.length){
                      for(var i = 0;i < data.length;i++) { %>
                        <tr>
                          <td><%=data[i].username%></td>
                          <td><%=data[i].NameE%></td>
                          <td><%=data[i].LastNameE%></td>
                          <td><%=data[i].email%></td>
                          <td><% if(data[i].flag === 0) {%>
                              <button type="button" class="btn btn-danger btn-xs">Offline</button>
                            <% }if(data[i].flag === 1) {%>
                              <button type="button" class="btn btn-success btn-xs">Online</button>
                            <%}%>
                          </td>
                          <td>
                            <div class="dropdown"><button class="btn btn-default btn-md dropdown-toggle dropdown-menu-right" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-font" aria-hidden="true"></span> Action</button>
                              <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#edit<%=data[i].id%>"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a></li>
                                <li><a data-toggle="modal" href="#myModal<%=data[i].id%>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a></li>
                              </ul>
                            </div>
                          </td>
                        </tr>                   
                      <% }
                    }else{ %>
                      <tr>
                        <td colspan="6"><center>No User</center></td>
                      </tr>
                    <% } %>
                  </tbody>
                </table>
                <% if(data1.length){
                  for(var i = 0;i < data1.length;i++) { %>
                    <div id="myModal<%=data1[i].id%>" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <h4><center> Are You Sure? </center></h4>
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-success" href="/user/delete/<%=data1[i].id%>">Delete</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div> 
                  <% }
                } %>
                <% if(data.length){
                  for(var i = 0;i < data.length;i++) { %>
                    <div id="myModal<%=data[i].id%>" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <h4><center> Are You Sure? </center></h4>
                          </div>
                          <div class="modal-footer">
                            <a class="btn btn-success" href="/user/delete/<%=data[i].id%>">Delete</a>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div> 
                  <% }
                } %>
                <% if(data.length){
                  for(var i = 0;i < data.length;i++) { %>
                    <div id="edit<%=data[i].id%>" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-body">
                            <h4><form action="/user/edit/<%=data[i].id%>" method="post">
                              <div class="form-group">
                              	<label>Username</label> 
                                <input type="text" class="form-control" name="username" id="username" placeholder="username" value="<%=data[i].username%>" required="true">
                              </div>
                              <div class="form-group">
                              	<label>First Name</label>
                                <input type="text" class="form-control" name="NameE" id="NameE" placeholder="NameE" value="<%=data[i].NameE%>" required="true">
                              </div>
                              <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="LastNameE" id="LastNameE" placeholder="LastNameE" value="<%=data[i].LastNameE%>" required="true">
                              </div>
                              <div class="form-group">
                                <label> Organization</label>
                                <select name="org" class="form-control" value="<%=data[i].org%>" title="Organization" required>
                                  <option value="">Please Select</option>
                                  <option value="1"<% if(data[i].org === 1) { %>
                                      selected="selected"
                                    <% } %>>Chulalongkorn University
                                  </option>
                                  <option value="2"<% if(data[i].org === 2) { %>
                                      selected="selected"
                                    <% } %>>Kasetsart University
                                  </option>
                                  <option value="3"<% if(data[i].org === 3) { %>
                                      selected="selected"
                                    <% } %>>Khon Kean University
                                  </option>
                                  <option value="4"<% if(data[i].org === 4) { %>
                                      selected="selected"
                                    <% } %>>Chiang Mai University
                                  </option>
          			                  <option value="5"<% if(data[i].org === 5) { %>
                                      selected="selected"
                                    <% } %>>Thaksin University
                                  </option>
                                  <option value="6"<% if(data[i].org === 6) { %>
                                      selected="selected"
                                    <% } %>>King Mongkut's University of Technology Thonburi
                                  </option>
                                  <option value="7"<% if(data[i].org === 7) { %>
                                      selected="selected"
                                    <% } %>>King Mongkut's University of Technology North Bangkok
                                  </option>
                                  <option value="8"<% if(data[i].org === 8) { %>
                                      selected="selected"
                                    <% } %>>Suranaree University of Technology
                                  </option>
          			                   <option value="9"<% if(data[i].org === 9) { %>
                                      selected="selected"
                                    <% } %>>Thammasat University
                                  </option>
                                  <option value="10"<% if(data[i].org === 10) { %>
                                      selected="selected"
                                    <% } %>>Nakhon Phanom University
                                  </option>
                                  <option value="11"<% if(data[i].org === 11) { %>
                                      selected="selected"
                                    <% } %>>Princess of Naradhiwas University
                                  </option>
                                  <option value="12"<% if(data[i].org === 12) { %>
                                      selected="selected"
                                    <% } %>>Naresuan University
                                  </option>
          			                  <option value="13"<% if(data[i].org === 13) { %>
                                      selected="selected"
                                    <% } %>>Burapha University
                                  </option>
                                  <option value="14"<% if(data[i].org === 14) { %>
                                      selected="selected"
                                    <% } %>>University of Phayao
                                  </option>
                                  <option value="15"<% if(data[i].org === 15) { %>
                                      selected="selected"
                                    <% } %>>Mahasarakham University
                                  </option>
                                  <option value="16"<% if(data[i].org === 16) { %>
                                      selected="selected"
                                    <% } %>>Mahidol University
                                  </option>
        			                    <option value="17"<% if(data[i].org === 17) { %>
                                      selected="selected"
                                    <% } %>>Maejo University
                                  </option>
                                  <option value="18"<% if(data[i].org === 18) { %>
                                      selected="selected"
                                    <% } %>>Mae Fah Luang University
                                  </option>
                                  <option value="19"<% if(data[i].org === 19) { %>
                                      selected="selected"
                                    <% } %>>Walailak University
                                  </option>
                                  <option value="20"<% if(data[i].org === 20) { %>
                                      selected="selected"
                                    <% } %>>Srinakharinwirot University
                                  </option>
        			                    <option value="21"<% if(data[i].org === 21) { %>
                                      selected="selected"
                                    <% } %>>Silpakorn University
                                  </option>
                                  <option value="22"<% if(data[i].org === 22) { %>
                                      selected="selected"
                                    <% } %>>Prince of Songkla University
                                  </option>
                                  <option value="23"<% if(data[i].org === 23) { %>
                                      selected="selected"
                                    <% } %>>Ubon Ratchathani University
                                  </option>
                                  <option value="24"<% if(data[i].org === 24) { %>
                                      selected="selected"
                                    <% } %>>King Mongkut's Institute of Technology Ladkrabang
                                  </option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label> Phone number</label>
                              	<input type="text" class="form-control" name="phone" id="phone" placeholder="phone" value="<%=data[i].phone%>" required="true">
                              </div>
                              <div class="form-group">
                          	    <label> Email</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="email" value="<%=data[i].email%>" required="true">
                              </div>
                              <div class="form-group">
                              	<label> Member Type</label>
                                <select name="membertype" class="form-control" title="membertype" required="true">
                                  <option value="">Please Select</option>
                                  <option value=0 <% if(data[i].membertype === 0) { %>
                                      selected="selected"
                                    <% } %>>Standard Member
                                  </option>
                                  <option value=1 <% if(data[i].membertype === 1) { %>
                                      selected="selected"
                                    <% } %>>Premium Member
                                  </option>
                                  <option value=2 <% if(data[i].membertype === 2) { %>
                                      selected="selected"
                                    <% } %>>Associate Member
                                  </option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label>Role</label>\
                                <select name="role" class="form-control" title="role" required="true">
                                  <option value="">Please Select</option>
                                  <option value=1 <% if(data[i].role === 1) { %>
                                    selected="selected"
                                    <% } %>>Admin
                                  </option>
                                  <option value=2 <% if(data[i].role === 2) { %>
                                      selected="selected"
                                    <% } %>>Member
                                  </option>
                                </select>
                              </div> 
                              <div class="modal-footer">
                                <button type="submit" class="btn btn-success" value="save">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                              </div>
                            </form></h4>
                          </div>
                        </div>
                      </div> 
                    </div>
                  <% }
                } %>
                <br/>
              </div>
              <div id="history" class="tab-pane fade">
                <br>
                <table id="userhistorytable" class="table table-striped">
                  <thead>
                    <tr bgcolor="#1E90FF">
                      <td colspan="8"><center><label><font color="white"><h5>Users Access Logs</h5></font></label></center></td>
                    </tr>
                    <tr>
                      <th>Username</th>
                      <th>Timestamp</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if(userhistory.length){             
                      for(var i = 0;i < userhistory.length;i++) { %>
                      <tr>
                        <td><%=userhistory[i].user%></td>
                        <td><%=userhistory[i].timestamp%></td>
                        <td><%=userhistory[i].nameE%></td>
                      </tr>                   
                      <%}
                    }%>
                  </tbody>
                </table>
              </div> <!--id="history" class="tab-pane fade"-->
            </div> <!--class="tab-content"-->
          </div> <!--style="margin:30px"-->
        </div> <!--id="contenttext"-->
      </div> <!--class="col-xs-10 nopadding"-->
    </div> <!--class="row"-->
    <div class="col-md-12 nopadding">
      <% include ./footer %>
    </div>
  </div>
</body>
</html>

