<!doctype html>
<html>
<head>
    <title>Email Manage</title>
    <link rel="stylesheet" href="lib/uni.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body style="background-color: #006DA6;">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 nopadding">
<% include ./base %>
</div>
<div class="col-md-12 nopadding">
<% include ./menuadmin %>
</div>
<div class="col-xs-2 nopadding">
<%include ./admin %>
</div>
  <div class="col-xs-10 nopadding">
    <div id="contenttext">
      <div style="margin:30px">
      <table class="table">
        <thead>
          <tr bgcolor="#006DA6">
            <td colspan="6"><center><label><font color="white">All Email template</font></label></center></td>
          </tr>
          <tr>
            <th>ID</th>
            <th>Text</th>
          </tr>
        </thead>
    <tbody>
      <% if(data.length){
        for(var i = 0;i < data.length;i++) { %>
          <tr>
            <td><%=data[i].id%></td>
            <td><%=data[i].Text%></td>
            <td><a data-toggle="modal" href="#edit<%=data[i].id%>"><span class="glyphicon glyphicon-edit"></span>Edit</a>
            </td>
          </tr>

          <% }
      }else{ %>
        <tr>
          <td colspan="6"><center>No User</center></td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <% if(data.length){
    for(var i = 0;i < data.length;i++) { %>
      <div id="edit<%=data[i].id%>" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h4><form action="/emailmanage/mailedit/<%=data[i].id%>" method="post">
                <div class="form-group">
                  <label><font color="red">*</font> ID</label>
                  <input type="text" class="form-control" name="id" id="id" placeholder="id" value="<%=data[i].id%>" required="true"></input>
                </div>
<!--
                <div class="form-group">
                  <label><font color="red">*</font> Text</label>
                  <input type="text" class="form-control" name="Text" id="Text" placeholder="Text" value="<%=data[i].Text%>" required="true"></input>
                </div>
-->
                <div class="form-group" >
                  <label><font color="red">*</font> Text</label>
                  <textarea type="text" class="form-control" name="Text" id="Text" placeholder="Text" value="<%=data[i].Text%>" required="true" rows="10"><%=data[i].Text%></textarea>
                </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success" value="save">Save</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button></form>
            </div>
          </div>
        </div>
      </div>
    <% }%>
  <% } %>
  <br>
    </div>
  </div>
</div>
<div class="col-md-12 nopadding">
<% include ./footer %>
</div>
</body>
</html>
